<launch>
    <!-- parameters -->
    <arg name="vllm_config_path" default = "$(find vllm)/../config/hongo-vinsmono.yaml" /> 
    <arg name="pcd_path" default = "$(find vllm)/../../../hongo.pcd" /> 
    
    <!-- vllm_node -->
    <node name="vllm_node" pkg="vllm" type="vllm_node" output="screen">
        <param name="vllm_config_path" type="string" value="$(arg vllm_config_path)" />
        <param name="pcd_path" type="string" value="$(arg pcd_path)" />
    </node>

    <!-- vinsmono_bridge_node -->
     <node name="vinsmono_bridge_node" pkg="vinsmono_bridge" type="vinsmono_bridge_node" output="screen">
    </node>

    <!-- rviz -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vllm)/../config/vllm-vinsmono.rviz" />
</launch>
