<launch>
    <!-- parameters -->
    <arg name="iris_config_path" default = "$(find iris)/../config/iris_mono_kitti.yaml" /> 
    <arg name="vslam_config_path" default = "$(find iris)/../openvslam_bridge/3rd/openvslam/example/kitti/KITTI_mono_00-02.yaml" />

    <arg name="pcd_path" default = "$(find iris)/../../../kitti_02.pcd" /> 
    <arg name="vocab_file" default = "$(find iris)/../../../orb_vocab.dbow2" />

    <arg name="is_image_compressed" default = "true"/>
    <arg name="is_image_color" default = "false"/>
    <arg name="image_topic_name0" default = "/image_raw0" />

    <arg name="keyframe_recollection" default = "20" />

    
    <!-- iris_node -->
    <node name="iris_node" pkg="iris" type="iris_node" output="screen">
        <param name="iris_config_path" type="string" value="$(arg iris_config_path)" />
        <param name="pcd_path" type="string" value="$(arg pcd_path)" />
    </node>

    <!-- openvslam_bridge_node -->
     <node name="openvslam_bridge_node" pkg="openvslam_bridge" type="openvslam_bridge_node" output="screen">
       <param name="vslam_config_path" type="string" value="$(arg vslam_config_path)" />
       <param name="vocab_path" type="string" value="$(arg vocab_file)" />
       <param name="image_topic_name0" type="string" value="$(arg image_topic_name0)" />
       <param name="is_image_compressed" type="bool" value="$(arg is_image_compressed)" />
       <param name="is_image_color" type="bool" value="$(arg is_image_color)" />
       <param name="keyframe_recollection" type="int" value="$(arg keyframe_recollection)" />
    </node>

</launch>
